<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  {{ variable_interpolada }}
  <br />
  <strong>ObjetoUnico:</strong>
  {{ objetoUnico.nombre }}
  <br />
  <strong>Lista Array:</strong>
  <p *ngFor="let item of array">{{ item.id + " -> " + item.Nombre }}</p>
  <app-peliculas></app-peliculas>
</div>
