* {
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 60px;
  color: white;
  background: url("marvel.jpeg");
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center;
  background-size: cover;
  -webkit-text-stroke: 1px white;
}

h2 {
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 1px white;
}

h3 {
  background: url("marvel.jpeg");
  width: 100px;
  height: 100px;
  background-size: cover;
}
