<hr />
<div>
  <p>ObjetoPersona: {{ persona.nombre }}</p>
  <ul>
    <p>Lista Personas</p>
    <li *ngFor="let persona of objPersonas">
      Nombre: {{ persona.nombre }} Id: {{ persona.id }} Estado:
      {{ persona.estado }}
    </li>
  </ul>
  <input
    class="input-text"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Buscar películas..."
  />
  <button class="btn btn-primary" (click)="searchMovies()">Buscar</button>
</div>

<h1>Buscar peliculas</h1>

<div *ngIf="movies.length > 0">
  <h2>Resultados de la búsqueda:</h2>
  <ul>
    <li *ngFor="let movie of movies">
      {{ movie.title }}
    </li>
  </ul>
</div>
