@import "./variables";
@import "./footer";

//@mixin = funciones
@mixin bg-color($color: aqua) {
    background-color: $color;
}

body {
    @include bg-color($body-color);
    //background-color: $body-color;
}

p {
    @include bg-color(blue);
    //background-color: $primary-color;
}

h1 {
    background-color: $primary-color;
}

nav {
    //@extend importar archivo _footer.scss
    @extend footer;
    p {
        height: 200px;
    }
}